<!DOCTYPE html>
<html lang="en">
    <head>
<%- include('./partials/head.ejs') %> 
</head>
<body class="productlistbody">
    
    <%- include('./partials/header.ejs') %> 
    
    
    <div class="contetlistpro">
        <br>
        <div class="listconteiner">
            <h2>Nuestros servicios:</h2>
            <div class="conteinerlistcolumn">
                <% for(let i = 0; i < products.length; i++) {%>
                    
                    <div class="cardoflist">
                        <div class="imgoflistcard">
                            <img src="/images/products/<%= products[i].image %>" alt="">
                            <h3><%=products[i].name%> </h3>
                        </div>
                        <div class="buttoncardlist">
                            <a href="/detail/<%=products[i].id%> ">Conocer más</a>
                        </div>
                    </div>
            
                    <% } %>

            </div>
           
    
        </div>
    </div>
    <% if(locals.isAdmin) {%> 
        <div class="plus_div">
            <a href="/paquetes/productsLoad"><i class="fas fa-plus"></i></a>
        </div>
    <% } %> 
    
    <script type="text/javascript" src="/js/vanilla-tilt.min.js"></script>
    <script type="text/javascript" src="/js/scroll-out.min.js"></script>
    <script type="text/javascript">
    let vw = window.innerWidth;
    vw < 1200 ?
        ScrollOut({
        targets: ".cardoflist",
        threshold: 0.8
    }) : VanillaTilt.init(document.querySelectorAll(".cardoflist"), {
		max: 15,
		speed: 300,
        glare: true,
        "max-glare": 0.8,
        perspective: 1000
	});
     
    </script>

</script>

</body>
</html>