<!DOCTYPE html>
<html lang="en">
<head>
<%- include('./partials/head.ejs')%> 
</head>
<body class="body__login-register">
    <%- include('./partials/header') %> 
    <main class="main__login-register">
        <div class="contenedor__todo">
            <div class="caja__trasera">
                <div class="caja__trasera-login">
                    <h3>¿Ya tienes cuenta?</h3>
                    <p>Iniciar sesión para entrar en la página</p>
                    <button id="btn__iniciar-sesion" >Iniciar Sesión</button>
                </div>
                <div class="caja__trasera-register">
                    <h3>¿Aún no tienes cuenta?</h3>
                    <p>Registrate para que puedas iniciar sesión</p>
                    <button id="btn__registrarse">Registrarse</button>
                </div>
            </div>
            <div class="contenedor__login-register" color= red >
                <form action="/user/login_register/login" method="post"  class="formulario__login">
                    <h2>Iniciar Sesión</h2>
                    <input type="text" name="email" id="email" placeholder="Correo Electronico" value="<%= locals.old && old.email ? old.email : ''%>">
                    <input type="password" name="password" id="password" placeholder="Contraseña">
                    <button id="btn_iniciar-sesion">Iniciar Sesión</button><br>
                    <label class="cbox2"><input type="checkbox" name="recordarme" id="recordarme" value="recordarme"> Recordarme</label>
                    
                    
                </form>
                <form action="/user/login_register/register" method="post" enctype="multipart/form-data" class="formulario__register">
                    <h2>Registrarse</h2>
                    <input type="text" name="name" id="name" placeholder="Nombre completo" value="<%= locals.old && old.name ? old.name : ''%>" >
                    <input type="text" name="email" id="email" placeholder="Correo Electronico" value="<%= locals.old && old.email ? old.email : ''%>" >
                    <input type="text" name="username" id="username" placeholder="Usuario" value="<%= locals.old && old.username ? old.username : ''%>">
                    <div id="div_file">
                        <p id="texto">Cargar Foto Perfil</p>
                            <input class="image_register" type="file" name="image" id="btn_enviar" placeholder="Imagen de Perfil">
                    </div>
                    <input type="password" name="password" id="password" placeholder="Contraseña" >
                    <button id="btn_registrarse" >Registrarse</button>
                    
                </form>
            </div>
            <br> <!--validaciones-->

            <%- include('./partials/validaciones') %>
            
               
        </div>
    </main>
    <script src="/js/script_login_register.js"></script>
</body>
</html>