<!DOCTYPE html>
<html lang="en">
<head>
<%- include('./partials/head.ejs')%> 
</head>
<body class="body__login-register">
    <%- include('./partials/header') %> 
    <main class="main__login-register">
        <div class="contenedor__todo">
            <div class="caja__trasera">
                <div class="caja__trasera-login">
                    <h3>¿Ya tienes cuenta?</h3>
                    <p>Iniciar sesión para entrar en la página</p>
                    <br>
                    <br>
                
                    <a  id="btn__iniciar-sesion" href="/user/login_register">Iniciar Sesión</a>
                </div>
                <div class="caja__trasera-register">
                    <h3>¿Aún no tienes cuenta?</h3>
                    <p>Registrate para que puedas iniciar sesión</p>
                    <button id="btn__registrarse">Registrarse</button>
                </div>
            </div>
            <div class="contenedor__login-register">
                <form action="/user/login_register/register" method="post" class="formulario_register">
                    <h2>Registrarse</h2>
                    <input type="text" name="nombreCompleto" id="nombreCompleto" placeholder="Nombre completo" value="<%= locals.old && old.nombreCompleto ? old.nombreCompleto : ''%>" >
                    <input type="text" name="email" id="email" placeholder="Correo Electronico" value="<%= locals.old && old.email ? old.email : ''%>" >
                    <input type="text" name="usuario" id="usuario" placeholder="Usuario" value="<%= locals.old && old.usuario ? old.usuario : ''%>">
                    <div id="div_file">
                        <p id="texto">Cargar Foto Perfil</p>
                            <input class="image_register" type="file" name="image" id="btn_enviar" placeholder="Imagen de Perfil">
                    </div>
                    <input type="password" name="password" id="password" placeholder="Contraseña" >
                    <button id="btn_registrarse" >Registrarse</button>
                    
                </form>

                <form  method="post" class="formulario_login">
                    <h2>Iniciar Sesión</h2>
                    <input type="text" name="email" id="email" placeholder="Correo Electronico" >
                    <input type="password" name="password" id="password" placeholder="Contraseña">
                    <button id="btn_iniciar-sesion">Iniciar Sesión</button>
                    
                </form>
               
            </div>
            <br> <!--validaciones-->

            <%- include('./partials/validaciones') %>
            
               
        </div>
    </main>
    <script src="/js/script_register.js"></script>
</body>
</html>